extends ../layout

block content
  div.container
    div.row
      div.col-md-6.col-md-offset-3
        h3 注册
        form(role="form",class="form-horizontal",data-bind="submit: submit")
          div.form-group
            label(for="username") 用户名
            div
              input(type="text",class="form-control",id='username',name='username',placeholder='用户名',required,data-bind="value: form.username, event:{change:validate}")
          div.form-group
            label(for="password") 密码
            div
              input(type="password",class="form-control",id='username',name='password',placeholder='密码',required,data-bind="value: form.password, event:{change:validate}")
          div.form-group
            label(for="name") 昵称
            div
              input(type="text",class="form-control",id='name',name='nickname',placeholder='昵称',required,data-bind="value: form.name, event:{change:validate}")
          div.form-group
            label(for="email") 邮箱
            div
              input(type="email",class="form-control",id='email',name='email',placeholder='邮箱',required,data-bind="value: form.email, event:{change:validate}")
          div.form-group
            label(for="question") 验证问题：会长id
            div
              input(type="text",class="form-control",id='question',name='question',placeholder='验证问题：会长id',required,data-bind="value: form.question, event:{change:validate}")
          div.form-group(data-bind="visible:message")
            div.alert.alert-danger(data-bind="text:message")
          div.form-group.btn-toolbar
            button(type='submit',class='btn btn-primary',data-bind="disable:disable") 提交
            a.btn.btn-default(href='/users/login',role='button',disable="disable:disable") 登陆
  script(type='text/javascript',src="/static/javascripts/register.js")
